PRIVATE_API_KEY=
NAME=""
SESSION=""
PORT=

DB_NAME=
DB_USER=
DB_HOST=
DB_DRIVER=
DB_PASSWORD=

FIRST_STATEMENT='Kode OTP Anda untuk mengakses adalah'
LAST_STATEMENT='pastikan jaga kerahasiaan kode anda dari siapapun!'
OTP_LIFETIME=2
OTP_MAX_ATTEMPTS=3